@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fascinate&display=swap');

html,

body {
  padding: 0;
  margin: 0;
  font-family: 'Bebas Neue', cursive;
font-family: 'Fascinate', cursive;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}



